body{
margin:0;
font-family:Arial;
background:#fff6f3;
color:#333;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#f7cfc8;
}

header button{
background:#333;
color:white;
border:none;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
}

/* NAV */
nav{
display:flex;
justify-content:center;
gap:20px;
background:white;
padding:10px;
}

nav a{
text-decoration:none;
color:#333;
font-weight:bold;
}

/* HERO */
.hero{
text-align:center;
padding:40px 20px;
background:white;
}

/* PRODUCTS */
.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.card{
background:white;
width:250px;
padding:15px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

.card button{
background:#e89a8f;
color:white;
border:none;
padding:8px 12px;
border-radius:6px;
cursor:pointer;
}

/* CART */
.cartBox{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
width:300px;
padding:20px;
border-radius:12px;
box-shadow:0 0 20px rgba(0,0,0,0.3);
display:none;
}

.cartBox button{
margin-top:10px;
background:#333;
color:white;
border:none;
padding:8px;
border-radius:6px;
}